# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Kubernetes manifests (don't need in container)
k8s/

# Documentation
*.md
LICENSE

# Tests
tests/
pytest.ini
.coverage
htmlcov/
