apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: pour-your-mind
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }

    http {
        upstream django {
            server django-service:8000;
        }

        server {
            listen 80;
            server_name _;

            location / {
                proxy_pass http://django;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header Host $host;
                proxy_redirect off;
            }

            location /static/ {
                alias /app/static/;
            }

            location /media/ {
                alias /app/media/;
            }
        }
    }

